@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/* commons */
hr {
    width: 100%;
    background: rgba(19, 19, 24, 0.10);
}

.special {
    color: #FF5400;
}

.desctiption {}

#nav,
header {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    /* border: 2px solid red; */
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 10px;
}

#nav>.container-1 {
    display: flex;
    width: 50%;
    align-items: center;
    margin-bottom: 20px;
    /* border: 2px solid blue; */

}

#nav>.container-2 {}

#nav>.container-1>.icon img {
    width: 80%;


}

#nav>.container-1>.text,
footer .container .text {
    color: #131318;
    font-family: Mulish;
    font-size: 2rem;
    font-weight: 800;
}

#nav>.container-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

#nav>.container-2 a {
    text-decoration: none;
    padding: 10px;
    color: #424247;
}

#header {
    position: relative;
    width: 90%;
    height: 500px;
    margin: 0 auto;
    background-image: url(Images/Group\ 13\ \(1\)\ \(1\).png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border: 2px solid red;
    visibility: hidden;
}

#header .content {
    /* position: relative; */
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid blue;
}

/* #header .content img{
    width: 100%;
} */

#header .content .title {
    position: absolute;
    top: 10vh;
    color: #fff;
    width: 500px;
    height: 30px;
    border: 2px solid red;
    font-family: Mulish;
    font-size: 50px;
    font-weight: 800;
}

#header .content .desctiption {
    position: absolute;
    width: 676px;
    top: 20vh;
    left: 30vh;
    color: #ffffff;
    text-align: center;
    position: absolute;

    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
}

#one {

    width: 80%;
    margin: 100px auto;
    display: flex;
    flex-wrap: wrap;
    text-align: start;
    align-items: center;
}

#one .container-1 {
    width: 40%;
    height: 100%;
    padding: 10px;
    /* background-color: #424247; */
}

#one .container-1 h2,
#three .title h3,
#five .container-1 h3 {
    color: #131318;
    width: 95%;
    font-family: Mulish;
    font-size: 40px;
    font-weight: 800;
}

#one .container-1 .text,
#three .title .text,
#five .container-1 p {
    color: #5A5A5D;
    font-family: Mulish;
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
    margin: 5px;
}

#one .container-1 .list {
    padding: 20px;
}

#one .container-2 {
    width: auto;
    height: 100%;

}

#one .container-2 img {
    width: 100%;
    height: auto;

}

#one .container-1 .button .read-more {
    color: #FFF;
    background-color: #FF5400;
    width: 120px;
    height: 40px;
    text-align: center;
    font-family: Mulish;
    font-size: 20px;
    font-weight: 800;
    border: none;
    border-radius: 5px;
    margin-top: 5px;

}

#three {
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;
}

#three .title,
#three .title .text {
    text-align: center;
}

#three .info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    overflow: auto;
}

#three .info .content {
    width: 700px;

}

#five {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 30px;

}

#five .container-1 {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    border-radius: 16px;
    border: 1px solid #FF5400;
}

#five .container-1 input,
#five .container-1 button {
    width: 100%;
    height: 50px;
    border: none;
    padding: 10px;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    outline: none;
}

#five .container-1 button {
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    background: #FF5400;
}


#five .container-2 {
    /* border: 2px solid red; */
    width: 672px;
    height: 422px;
    border-radius: 16px;
    background: url(/Images/Rectangle\ 8\ \(1\).png), lightgray 50% / cover no-repeat;
    background-size: cover;
    background-repeat: no-repeat;

}

#five .container-2 .content {
    /* border: 2px solid red; */
    position: relative;
    width: 320px;
    height: 120px;
    top:240px;
    left: 330px;
    transform: rotate(-19.628deg);
    border-radius: 16px;
    background: #FF5400;
}

#five .container-2 .content .title {
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    padding: 10px;
}

/* footer */

footer {
    background: rgba(19, 19, 24, 0.05);
    width: 100%;
    height: 500px;
}

footer .container {
    max-width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
    padding: 30px;
}

footer .container .para,
footer .container .copywrite {
    color: #5A5A5D;
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-top: 5px;
}

footer .container .icons {
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 300px;
    height: 50px;
    /* border: 2px solid red; */
    margin-bottom: 30px;
}

footer .container .icons img {
    width: 150%;
    padding: 10px;
}